/* impoting font_family */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

html, body {
  font-family: 'Roboto', sans-serif;
}
.alert-error {
  max-height: 40px;
  min-height: 40px;
  height: 40px;
}

.loginForm, .signupForm {
  margin-top: 200px;
}