<div class="container" ng-init="getUserData()">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong ng-bind="msg"></strong>
        <a class="text-right" href="" ng-click="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>